<template name="About">
    <div>
        <h2>Technologies used for this web page:</h2>
        <div>
            Environment(s):
            <ul>
                <li><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a></li>
            </ul>
            Framework(s):
            <ul>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="https://www.meteor.com/">Meteor</a></li>
            </ul>
            Language(s):
            <ul>
                <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
                <li><a href="http://www.w3schools.com/css/">CSS</a></li>
                <li><a href="http://www.w3schools.com/js/">JavaScript</a></li>
            </ul>
            Version control:
            <ul>
                <li><a href="https://git-scm.com/">Git</a></li>
                <li><a href="https://github.com/">GitHub</a></li>
            </ul>
        </div>
    </div>
</template>