<template name="Home">
    <div class="headertext">
        <h1>Welcome</h1>
        <h3>What would you like to do?</h3>
    </div>
<div class="container">
    <div class="row">
        <div class="icons">
        <div class="col-sm-4">
            <a href="{{ pathFor 'AddClasses' }}">
            <div class="well">
                <i class="fa fa-calendar-plus-o fa-5x"></i>
                <p>
                    Add a class
                </p>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ pathFor 'ListClasses' }}">
            <div class="well">
                <i class="fa fa-calendar fa-5x"></i>
                <p>
                   View Classes
                </p>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://www.sis.hawaii.edu/uhdad/avail.classes?i=MAN">
            <div class="well">
                <i class="fa fa-list-alt fa-5x"></i>
                <p>
                    See Class List
                </p>
            </div>
            </a>
        </div>
        </div>
    </div>
</div>
</template>
