<template name="ListClasses">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Course</th>
          <th>Professor</th>
          <th>Time</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        {{#each classesList}}
          <tr>
            <td>{{className}}</td>
            <td>{{professor}}</td>
              <td> {{startTime}} - {{endTime}}</td>
            <td><a href="{{pathFor 'EditClasses'}}">Edit</a></td>
              <td><button class="delete" href="#">&times;</button></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
