body {
  font-family: 'Open Sans', sans-serif;
}

.headertext {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 48px;
}

.icons {
  font-size: 32px;
  text-align: center;
  color: #003D6D;
}

.header-image {
  background-image: url('/images/calendar-cover.jpg');
  background-size:cover;
  height: 240px;
  background-position: bottom;
}

.navbar {
  border-radius: 0px;
  background-color: #A00032;
  border-color: #A00032;
}

.navbar-inverse .navbar-brand {
  color: #F7F7F5;
}

.navbar a.dropdown-toggle {
  color: #F7F7F5;
}

.nav .navbar-brand .navbar-right {
  color: #F7F7F5;
}